.parent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.child
{
	width:30%;
	border: 1px solid red;
	padding: 1%;
	margin:1%;
	box-shadow: 3px 3px 3px green;
	border-radius: 5%;
	text-align: center;
}
.role
{
	font-style: italic;
	color:blue;
}
.profile
{
	width:200px;
	height:170px;
	border:1px solid black;
	border-radius: 70%
}
.contact
{
	display: block;
}
.contacticon
{
	width:10%;
}
@media only screen and (min-width:320px) and (max-width:480px)
{
	.child
	{
	width:90%;
	border: 1px solid red;
	padding: 1%;
	margin:1%;
	box-shadow: 3px 3px 3px green;
	border-radius: 5%;
	text-align: center;
	}
}  